<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="RTGSGen2DBContext" 
         connectionString="metadata=res://*/RTGSGen2DBContext.csdl|
                                    res://*/RTGSGen2DBContext.ssdl|
                                    res://*/RTGSGen2DBContext.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=&quot;
                           data source= [T24SqlServer];
                           initial catalog=RTGS_G2;
                           persist security info=True;
                           user id=t24-dev;
                           password=dev@2014;
                           MultipleActiveResultSets=True;
                           App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>